@page
@model MedicinaESE.Pages.Error404Model
@{
    ViewData["Title"] = "Página no encontrada";
}

<div class="error-container">
    <h1> 404 - Página no encontrada </h1>
    <p>Que haces aqui compañero? Esta pagina no existe!.</p>
    <img src="~/img/404error.jpg" alt="404 Not Found" class="img-fluid rounded service-img">
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>
