@page
@model MedicinaESE.Pages.admin_mainModel
@{
    ViewData["Title"] = "Panel de Administración";
}

<div class="admin-main-container">
    <h1 class="admin-main-header">Panel de Administración</h1>
    <p class="admin-main-subtext">Selecciona una opción para gestionar el sistema.</p>

    <div class="admin-main-options">
        <a href="/Admin/lista-usuarios" class="admin-btn">Ver lista de usuarios</a>
        <a href="/Admin/crear-usuario" class="admin-btn">Crear usuario</a>
        <a href="/Admin/Horarios" class="admin-btn">Administrar horarios</a>
        <a href="/Admin/Reportes" class="admin-btn">Ver reportes</a>
        <a href="/Admin/Configuracion" class="admin-btn">Configuración</a>
        <a href="#" onclick="confirmLogout()" class="admin-btn admin-btn-danger">Cerrar sesión</a>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/admin.js" asp-append-version="true"></script>
