@page
@model MedicinaESE.Pages.ErrorBDModel
@{
    ViewData["Title"] = "Error de conexión";
}

<div class="error-container">
    <h1> UPS! Error de conexión con la base de datos we </h1>
    <p>No pudimos acceder a la información en este momento. Es posible que el servidor esté apagado.</p>
    <p>Por favor, inténtalo más tarde.</p>
    <img src="~/img/503error.jpg" alt="Error Server" class="img-fluid rounded service-img">
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>
