@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<!-- Contenedor principal -->
<div class="main-content">
    <!-- Caja azul con la imagen -->
    <div class="banner-container">
        <div class="image-box">
            <img src="~/img/heromedicbanner.jpg" alt="Imagen médica" class="content-image">
        </div>
        <div class="oval-container">
            <a href="/login" class="btn btn-login"><button class="oval-button">GESTIONA TUS CITAS AHORA!</button></a>
        </div>
    </div>

    <!-- Sección de texto con tres sub-divs -->
    <div class="content-box">
        <div class="text-row">
            <div class="text-block" id="text-box-1">
                <p>Mantenerse saludable es clave para una vida plena. La prevención y el acceso oportuno a atención médica nos ayudan a vivir mejor y con más energía cada día.</p>
            </div>
            <div class="text-block" id="text-box-2">
                <p>Tu tiempo es valioso, por eso hacemos que gestionar tus citas sea rápido y eficiente. Con tecnología avanzada y un equipo capacitado, te garantizamos atención sin largas esperas.</p>
            </div>
        </div>
        <div class="text-block large" id="text-box-3">
            <p>Nuestra misión va más allá de brindar servicios médicos: buscamos transformar la manera en que las personas cuidan su salud. En un mundo donde las responsabilidades diarias pueden hacer que olvidemos priorizar nuestro bienestar, queremos ser el puente que facilite el acceso a atención médica sin complicaciones. Con profesionales altamente capacitados y tecnología innovadora, nuestras clínicas se convierten en un espacio donde la prevención, el diagnóstico y el tratamiento trabajan en armonía para garantizar el mejor cuidado posible. Desde consultas generales hasta especialidades avanzadas, ponemos a tu disposición todas las herramientas necesarias para que vivas con tranquilidad y confianza. Porque cuando cuidas de ti, también cuidas de los que te rodean.</p>
        </div>
    </div>
</div>