@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<!-- Contenedor principal -->
<div class="main-content">
    <!-- Caja azul con la imagen -->
    <div class="banner-container">
        <div class="image-box">
            <img src="~/img/heromedicbanner.jpg" alt="Imagen médica" class="content-image">
        </div>
        <div class="oval-container">
            <a href="/login" class="btn btn-login"><button class="oval-button">GESTIONA TUS CITAS AHORA!</button></a>
        </div>
    </div>


    <!-- Sección de Noticias -->
    <div class="content-box">
        <!-- Contenedor del carrusel -->
        <div class="carousel-box">
            <!-- Botón de desplazamiento izquierdo -->
            <div class="section-btn-left">
                <button class="carousel-btn-prev">❮</button>
            </div>

            <!-- Carrusel central -->
            <div class="section-carousel">
                <!-- Aquí irá el carrusel en el siguiente paso -->
            </div>

            <!-- Botón de desplazamiento derecho -->
            <div class="section-btn-right">
                <button class="carousel-btn-next">❯</button>
            </div>
        </div>
    </div>





    <!-- Sección "Acerca de" -->
    <div class="content-box mt-4">
        <h2 class="text-center text-primary mb-4">Acerca de</h2>
        <p class="text-center">Nuestra IPS ofrece distintos servicios para beneficiar a nuestra comunidad.</p>

        <!-- Servicios Médicos con fondo alternado -->
        <div class="container mt-4">
            <div class="row mb-4 align-items-center service-row-left">
                <div class="col-md-4">
                    <img src="~/img/medicina-general.png" alt="Medicina General" class="img-fluid rounded service-img">
                </div>
                <div class="col-md-8">
                    <h4>Medicina General</h4>
                    <p>Atención primaria con médicos especializados para el diagnóstico y tratamiento oportuno.</p>
                </div>
            </div>
            <div class="row mb-4 align-items-center flex-row-reverse service-row-right">
                <div class="col-md-4">
                    <img src="~/img/odontologia.jpg" alt="Odontología" class="img-fluid rounded service-img">
                </div>
                <div class="col-md-8">
                    <h4>Odontología</h4>
                    <p>Cuida tu sonrisa con nuestros servicios odontológicos avanzados y tratamientos preventivos.</p>
                </div>
            </div>
            <div class="row mb-4 align-items-center service-row-left">
                <div class="col-md-4">
                    <img src="~/img/psicologia.jpg" alt="Psicología" class="img-fluid rounded service-img">
                </div>
                <div class="col-md-8">
                    <h4>Psicología</h4>
                    <p>Contamos con apoyo psicológico para el bienestar mental y emocional de nuestros pacientes.</p>
                </div>
            </div>
            <div class="row mb-4 align-items-center flex-row-reverse service-row-right">
                <div class="col-md-4">
                    <img src="~/img/terapia.jpg" alt="Terapias" class="img-fluid rounded service-img">
                </div>
                <div class="col-md-8">
                    <h4>Terapias</h4>
                    <p>Recupera tu movilidad y bienestar con nuestras terapias físicas y ocupacionales.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección "Contacto" -->
    <div class="content-box mt-4">
        <h2 class="text-center text-primary mb-4">Contacto</h2>

        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6">
                    <h5>Horario de Atención</h5>
                    <p>Lunes a Viernes: 7:00 AM - 6:00 PM</p>
                    <p>Sábados: 8:00 AM - 2:00 PM</p>
                </div>
                <div class="col-md-6">
                    <h5>Correo Electrónico</h5>
                    <p><a href="mailto:info@doctornow.com">info@doctornow.com</a></p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <h5>Teléfonos</h5>
                    <p><a href="tel:+573101234567">+57 310 123 4567</a></p>
                    <p><a href="tel:+6012345678">+60 1 2345678</a></p>
                </div>
                <div class="col-md-6">
                    <h5>Sedes</h5>
                    <p><a href="/sede-bogota">Bogotá</a></p>
                    <p><a href="/sede-medellin">Medellín</a></p>
                    <p><a href="/sede-barrancabermeja">Barrancabermeja</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Wea del carrousel de noticias -->

<script>
    window.noticiasJson = @Html.Raw(Json.Serialize(Model.Noticias));
    console.log("Noticias cargadas desde Razor:", window.noticiasJson);
</script>
<script src="~/js/noticias.js"></script>
