@page
@model Medicinaese.Pages.loginModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center border-0 shadow-lg p-4 rounded-custom" style="width: 40rem; background-color: #037381;">
        <div class="card-header bg-transparent border-0">
            <img src="~/img/logosinfondo2.png" alt="Logo Doctor" class="avatar img-fluid mx-auto d-block mb-4" style="width: 100px;">
            <h2 class="text-white">Iniciar Sesión</h2>
        </div>
        <div class="card-body py-4">
            <form method="post">
                <div class="mb-4">
                    <input type="text" class="form-control w-85 mx-auto py-3" id="documento" name="Documento" placeholder="Documento de identidad" required style="border-color: #02c39a; font-size: 1rem;">
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control w-85 mx-auto py-3" id="password" name="Contraseña" placeholder="Contraseña" required style="border-color: #02c39a; font-size: 1rem;">
                </div>
                <button type="submit" class="btn btn-login-custom w-85 mx-auto py-3">Iniciar Sesión</button>
                <small class="d-block mt-3 text-white">¿Olvidaste tu contraseña? <a href="#" class="text-warning text-decoration-none">Recupérala aquí</a></small>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const mensaje = '@Model.Mensaje';
        if (mensaje === "success") {
            Swal.fire({
                title: '¡Acceso permitido!',
                text: 'Bienvenido al sistema.',
                icon: 'success',
                confirmButtonText: 'Aceptar',
                customClass: {
                    popup: 'rounded-custom'
                }
            }).then(() => {
                window.location.href = "/agendar-cita"; // Redirige después de cerrar la alerta
            });
        } else if (mensaje === "error") {
            Swal.fire({
                title: 'Error',
                text: 'Acceso no permitido.',
                icon: 'error',
                confirmButtonText: 'Intentar de nuevo',
                customClass: {
                    popup: 'rounded-custom'
                }
            });
        }
    </script>
}
